@localsplash:registry=https://relevantads.pkgs.visualstudio.com/Localsplash.root/_packaging/Localsplash/npm/registry/
registry=https://registry.npmjs.org/

always-auth=true
; begin auth token
//relevantads.pkgs.visualstudio.com/Localsplash.root/_packaging/Localsplash/npm/registry/:username=localsplash
//relevantads.pkgs.visualstudio.com/Localsplash.root/_packaging/Localsplash/npm/registry/:_password=QnlFQlVHOUFnYUk3YXZLTVRyd0QzS2ZaS2pWZ0lvbUxJZlZkMGliTnlkTTFTMVlrRnpoVkpRUUo5OUJEQUNBQUFBQUFBQUFBQUFBU0FaRE8xcG5a==
//relevantads.pkgs.visualstudio.com/Localsplash.root/_packaging/Localsplash/npm/registry/:email=npm requires email to be set but doesn't use the value
; end auth token
